{{ if ne .chezmoi.os "darwin" -}}
.config/tmux-startup.sh
.config/yabai/
.config/yabai/yabairc
.config/skhd/
.config/skhd/skhdrc
.config/sketchybar/
.config/sketchybar/**
Library/
Library/**
{{ end -}}
{{ if ne .chezmoi.os "linux" -}}
chezmoi source-path ~/.ssh/authorized_keys
{{ end -}}
.config/nvim/lazy-lock.json
.config/nix/.git
.hushlogin
LICENSE
README.md
docs/
docs/**
