[user]
	name = Kevin Jin
	email = {{ if hasKey . "gitEmail" }}{{ .gitEmail }}{{ else }}59934204+kevwjin@users.noreply.github.com{{ end }}
[alias]
  st = status
  cm = commit
  co = checkout

[credential "https://github.com"]
    helper =
    helper = !/home/kevwjin/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/home/kevwjin/.nix-profile/bin/gh auth git-credential
