[user]
	name = Kevin Jin
	email = {{ if hasKey . "gitEmail" }}{{ .gitEmail }}{{ else }}59934204+kevwjin@users.noreply.github.com{{ end }}
[alias]
  st = status
  cm = commit
  co = checkout

{{ if eq .profile "work" -}}
[credential "https://github.com"]
  helper =
  helper = !/Users/kevwjin/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/Users/kevwjin/.nix-profile/bin/gh auth git-credential
{{ end -}}
