{{ if eq .chezmoi.os "darwin" -}}
# Created by `pipx` on 2024-12-01 23:14:03
export PATH="$PATH:/Users/kevinjin/.local/bin"
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
# Created by `pipx` on 2024-12-29 22:29:01
export PATH="$PATH:/home/kevwjin/.local/bin"
{{ end -}}
# check git repo status on login
function check_git_updates() {
    PREV_DIR=$(pwd)
    cd $HOME/.local/share/chezmoi
    git fetch --quiet origin
    
    # check if we're behind the remote
    LOCAL=$(git rev-parse @)
    REMOTE=$(git rev-parse @{u})
    
    if [ $LOCAL != $REMOTE ]; then
        echo "New dotfiles changes! Run `git pull` to update."
    fi
    cd "$PREV_DIR"
}
check_git_updates
