# direnv
emulate zsh -c "$(direnv export zsh)"
emulate zsh -c "$(direnv hook zsh)"

# zsh theme
ZSH_THEME="powerlevel10k/powerlevel10k"
source $HOME/.oh-my-zsh/oh-my-zsh.sh
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# enable colorized output for terminal commands (e.g., ls)
{{ if eq .chezmoi.os "darwin" -}}
# Use GNU ls instead of BSD ls to folow LS_COLORS instead of LSCOLORS
alias ls='gls --color=auto'
{{ end -}}
# set Emacs bindings for command line
bindkey -e

# path
{{ if eq .chezmoi.os "darwin" -}}
# put nix-profile path first
export PATH="$PATH:/Users/kevinjin/.nix-profile/bin/"
{{ end -}}
export PATH="/usr/local/opt/python@3.12/libexec/bin:$PATH"
export PATH="$PATH:/Users/kevinjin/.local/bin"
export PATH="$HOME/.local/bin:$PATH"

# editor (visual specifies preferred full-screen editor)
export EDITOR='nvim'
export VISUAL='nvim'

# aliases
alias cm='chezmoi'
alias nv='nvim'
alias g='git'
alias python='python3'
# command combining cd and ls
cl() { cd "$@" && ls; }
